#latest {
  padding: 50px 0;
}
#latest .header {
  padding: 50px 0;
}
#latest .header:after {
  content: "";
  display: table;
  clear: both;
}
#latest .header h1 {
  color: #6066f2;
  font-size: 4.2rem;
  max-width: 400px;
  width: 100%;
  float: left;
}
#latest .header .directions {
  float: right;
  position: relative;
  top: 35px;
}
#latest .header .directions .move-left {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  float: left;
  padding: 20px 70px;
  font-size: 3rem;
  background: #6066f2;
  color: #ffffff;
  border: 1px solid #6066f2;
  cursor: pointer;
}
#latest .header .directions .move-left:hover {
  background: #1218d9;
  transition: 0.3s ease-in-out;
}
#latest .header .directions .move-right {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: right;
  padding: 20px 70px;
  font-size: 3rem;
  background: #ffffff;
  color: #cecece;
  border: 1px solid #cecece;
  cursor: pointer;
}
#latest .header .directions .move-right:hover {
  background-color: #f7f7f7;
  transition: 0.3s ease-in-out;
}
#latest .body {
  padding: 100px 0;
}
#latest .body:after {
  content: "";
  display: table;
  clear: both;
}
#latest .body .column {
  width: 33.33%;
  float: left;
  padding: 0 15px;
  text-align: center;
}
#latest .body .column:nth-child(1) .bg-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: #ed4e4e; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ed4e4e 0%,
    #232c66 51%,
    #db57c3 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ed4e4e 0%,
    #232c66 51%,
    #db57c3 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #ed4e4e 0%,
    #232c66 51%,
    #db57c3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
}
#latest .body .column:nth-child(2) .bg-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: #383caa; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #383caa 0%,
    #53d0ef 52%,
    #db57c3 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #383caa 0%,
    #53d0ef 52%,
    #db57c3 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #383caa 0%,
    #53d0ef 52%,
    #db57c3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
}
#latest .body .column:nth-child(3) .bg-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: #e54b4b; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #e54b4b 0%,
    #ede853 52%,
    #7c3131 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #e54b4b 0%,
    #ede853 52%,
    #7c3131 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #e54b4b 0%,
    #ede853 52%,
    #7c3131 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
}

#latest .body .column .bg-square img {
  width: 73%;
  position: absolute;
  top: -30%;
  left: 15%;
}
#latest .body .column:nth-child(2) .bg-square img {
  width: 120%;
  top: -30%;
  left: -8%;
}
#latest .body .column:nth-child(3) .bg-square img {
  width: 76%;
  top: -30%;
  left: 14%;
}
#latest .body .column .bg-square .cart {
  cursor: pointer;
}
#latest .body .column:nth-child(1) .bg-square .cart {
  width: 94px;
  height: 94px;
  border: 10px solid #ffffff;
  position: absolute;
  top: -47px;
  right: -47px;
  border-radius: 50%;
  background: #ed4e4e; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ed4e4e 0%,
    #232c66 51%,
    #db57c3 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ed4e4e 0%,
    #232c66 51%,
    #db57c3 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #ed4e4e 0%,
    #232c66 51%,
    #db57c3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #ffffff;
}
#latest .body .column:nth-child(2) .bg-square .cart {
  width: 94px;
  height: 94px;
  border: 10px solid #ffffff;
  position: absolute;
  top: -47px;
  right: -47px;
  border-radius: 50%;
  background: #383caa; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #383caa 0%,
    #53d0ef 52%,
    #db57c3 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #383caa 0%,
    #53d0ef 52%,
    #db57c3 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #383caa 0%,
    #53d0ef 52%,
    #db57c3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #ffffff;
}
#latest .body .column:nth-child(3) .bg-square .cart {
  width: 94px;
  height: 94px;
  border: 10px solid #ffffff;
  position: absolute;
  top: -47px;
  right: -47px;
  border-radius: 50%;
  background: -moz-linear-gradient(
    -45deg,
    #e54b4b 0%,
    #ede853 52%,
    #7c3131 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #e54b4b 0%,
    #ede853 52%,
    #7c3131 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #e54b4b 0%,
    #ede853 52%,
    #7c3131 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #ffffff;
}

#latest .body .column .bg-square .cart .fas {
  font-size: 2rem;
  position: relative;
  top: 22px;
  left: -3px;
}
#latest .body .column .line {
  width: 20%;
  height: 2px;
  background: #fea83b;
  margin: 50px auto;
  display: inline-block;
}
#latest .body .column:nth-child(2) .line {
  background: #6066f2;
}
#latest .body .column:nth-child(3) .line {
  background: #8be1da;
}
#latest .body .column .price {
  color: #fea83b;
  font-weight: 700;
  font-size: 2.3rem;
}
#latest .body .column:nth-child(2) .price {
  color: #6066f2;
}
#latest .body .column:nth-child(3) .price {
  color: #8be1da;
}

#latest .footer {
  text-align: center;
  position: relative;
}
#latest .footer img {
  width: 40%;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 30%;
  filter: grayscale(100%) invert(100%);
  opacity: 0.1;
  transform: rotate(25deg);
}
#latest .footer .info-box {
  position: relative;
  z-index: 2;
  padding: 200px 0;
}
#latest .footer .info-box h2 {
  color: #6066f2;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 60px;
}
#latest .footer .info-box form {
  vertical-align: top;
  display: inline-block;
  margin: 0 auto;
}
#latest .footer .info-box .input-area {
  background: #ffffff;
  border-radius: 50px;
  padding: 10px;
  float: left;
}
#latest .footer .info-box .input-area .far {
  font-size: 2rem;
  position: relative;
  top: 7px;
  margin-left: 15px;
  color: #d5e2ea;
}
#latest .footer .info-box .input-area:nth-child(1) {
  height: 80px;
  margin-right: 50px;
}
#latest .footer .info-box .input-area input {
  background: #ffffff;
  border: none;
  padding: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  width: 230px;
  outline: none;
}
#latest .footer .info-box .input-area:nth-child(1) input {
  position: relative;
  top: 8px;
}
#latest .footer .info-box .input-area:nth-child(1) .far {
  position: relative;
  top: 14px;
}
#latest .footer .info-box .input-area button {
  background: #6066f2;
  padding: 20px 50px;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}
#latest .footer .info-box .input-area button:hover {
  background: #1218d9;
  transition: 0.3s ease-in-out;
}

/* LAPTOPS */
@media only screen and (max-width: 1215px) {
}
/* TABLETS */
@media only screen and (max-width: 1023px) {
  #latest .header h1 {
    font-size: 3.5rem;
  }
  #latest .header .directions {
    top: 18px;
  }
  #latest .body .column {
    width: 50%;
    margin-bottom: 150px;
  }
  #latest .footer img {
    width: 50%;
  }
  #latest .footer .info-box form {
    width: 80%;
  }
  #latest .footer .info-box .input-area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #latest .footer .info-box .input-area input[type="email"] {
    float: left;
    width: 50%;
    position: relative;
    top: 12px;
  }
  #latest .footer .info-box .input-area button {
    background: #6066f2;
    padding: 20px 0px;
    font-size: 1rem;
    width: 35%;
    float: left;
  }
  #latest .footer .info-box .input-area:nth-child(1) {
    margin-right: 2%;
    width: 49%;
  }
  #latest .footer .info-box .input-area:nth-child(1) input[type="text"] {
    margin: 0;
    width: 80%;
  }
  #latest .footer .info-box .input-area:nth-child(2) {
    margin: 0;
    width: 49%;
  }
}
/* MOBILE DEVICES */
@media only screen and (max-width: 788px) {
  #latest .header .directions {
    top: -94px;
  }
}
@media only screen and (max-width: 771px) {
  #latest .header .directions {
    top: -94px;
  }
}
@media only screen and (max-width: 767px) {
  #latest .header {
    text-align: center;
  }
  #latest .header h1 {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    max-width: none;
  }
  #latest .header .directions {
    display: inline-block;
    float: none;
    position: static;
    margin: 50px auto;
    top: 0px;
  }
  #latest .body .column {
    width: 100%;
    margin-bottom: 150px;
  }
  #latest .body .column:nth-child(1) .bg-square,
  #latest .body .column:nth-child(2) .bg-square,
  #latest .body .column:nth-child(3) .bg-square {
    transform: scale(0.8);
  }
  #latest .footer .info-box .input-area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #latest .footer .info-box .input-area input[type="email"] {
    float: left;
    width: 50%;
    position: relative;
    top: 12px;
  }
  #latest .footer .info-box .input-area button {
    background: #6066f2;
    padding: 20px 0px;
    font-size: 1rem;
    width: 35%;
    float: left;
  }
  #latest .footer img {
    top: 70px;
  }
  #latest .footer .info-box .input-area:nth-child(1) {
    margin: 0;
    width: 100%;
    margin-bottom: 50px;
  }
  #latest .footer .info-box .input-area:nth-child(2) {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  #latest .header .directions .move-left {
    font-size: 2rem;
  }
  #latest .header .directions .move-right {
    font-size: 2rem;
  }
  #latest .footer img {
    top: 142px;
  }
}
